<div class="container mt-2">
    <h1 class="display-4 text-center">All area</h1>
    
        <div class="card">
            <h5 class="card-header">Clothing, furniture, plants and more in Brisbane CBD</h5>
            
            <div class="card-body">
                <div class="card-text row row-cols-2">
                    <p class="col col-10 col-sm-3 col-md-2">11:30 AM<br />~ 3:00 PM</p>
                    <div class="col col-10 col-sm-7 col-md-7">
                        <h5>60 Gloucester Street Spring Hill, QLD <%= link_to '>> Get direction', "https://www.google.com/maps/dir/?api=1&destination=60+Gloucester+Street+Spring Hill%2C+QLD", class: "ml-2", id: "get-dir" %> </h5>
                        <p>22 June 2020 ~ 23 June 2020</p>
                        <p class="mt-n3 font-weight-light" style="font-size: 0.9em">We are moving to NSW soon, so visit us and check it out.</p>
                        <p><strong>Jason Kim</strong><i class="fas fa-phone ml-4 mr-1"></i>0402 111 222</p>
                        <a href="#" class="btn btn-info mt-2">See comments</a>
                    </div>
                    <%= image_tag("coder_academy.png", class: "col col-10 col-sm-10 col-md-3", alt: "image of sale", style: "object-fit: contain;") %>
                </div>
            </div>
        </div>

</div>


