// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.map {
    width: 97%;
    min-height: 300px;
}

.main-map {
    height: 350px;
}

.show-map {
    height: 300px;
}

@media (min-width: 768px) {
    .map {
        min-height: 100%;
    }    
}

.links-icon {
    margin: 5px;
    display: inline-block;
}

/* animation effect when hovering over icons */
.links-icon-background {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 32px;
    padding-left: 12px;
    transition: all 0.5s;
    text-decoration: none;
    color: white;
}

.links-icon-background:hover {
    text-decoration: none;
    color: lightgray;
}

/* slight adjustment for each icon */
.to-left {
    padding-left: 10px;
}

.to-right {
    padding-left: 15px;
}

.to-little-right {
    padding-left: 13px;
}

.to-top {
    transform: translateY(-3px);
}
